body {
    background-color: #191a1a;
}

*:focus {
    outline: none;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #343434;
    color: #fff;
    height: 64px;
    padding: 0;
    margin: 0;
    z-index: 2;
    -webkit-app-region: drag;
}

#logo {
    margin: 19px 10px 15px 50px;
    display: block;
    float: right;
    font-size: 24px;
    cursor: default;
    -webkit-app-region: no-drag;
    font-family: Muli, sans-serif;
    text-transform: uppercase;
}

#searchbox {
    position: relative;
    float: left;
    width: 250px;
    padding: 0 20px 17px 15px;
    margin: 23px 5px 0;
    -webkit-app-region: no-drag;
    -webkit-user-select: none; 
}

#searchbox div {
    padding: 10px 10px 5px 0;
    font-family: Muli, sans-serif;
    font-size: 14px;
    background-color: #545454;
    color: #fff;
    -webkit-user-select: none; 
}

#searchbox input {
    width: 100%;
    cursor: text;
}
#searchbox input:focus {
    cursor: text;
}
#clearsearch {
    position: absolute;
    right: 15px;
    top: 3px;
    background-color: #fff !important;
    color: #000 !important;
    margin: 0;
    padding: 0 !important;
    height: 14px;
    width: 13px;
    cursor: pointer;
}

::placeholder {
    color: #aaa;
}

#searchresults {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    background-color: #343434;
    display: none;
    width: 300px;
    z-index: 3;
}

#searchresults .result {
    background-color: #484848;
    height: 40px;
    padding: 5px;
    color: #fff;
    margin: 5px 10px;
    font-family: Muli, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#searchresults .result .name {
    width: 270px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchresults .result .ident {
    color: #888;
}

#settings {
    display: block;
    float: right;
    padding: 0 10px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#settings img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#theme {
    display: block;
    float: right;
    padding: 0 5px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#theme img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#simconnect {
    display: block;
    float: right;
    padding: 0 5px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#simconnect img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#plan {
    display: block;
    float: right;
    padding: 0 5px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#plan img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#utctime {
    position: absolute;
    top: 64px;
    right: 0;
    height: 20px;
    min-width: 50px;
    display: block;
    padding: 5px;
    font-family: Muli, sans-serif;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    z-index: 3;
    border-bottom-left-radius: 8px;
    -webkit-user-select: none;
    display: none;
}

#title-bar-btns {
    display: block;
    float: right;
    margin: 0;
    -webkit-app-region: no-drag;
}

#title-bar-btns button {
    height: 64px;
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-family: "MDL2";
    font-size: 10px;
    cursor: pointer;
}

#title-bar-btns button:hover {
    background-color: #969696;
}

#title-bar-btns #close-btn:hover {
    background-color: #E81123;
}

#title-bar-btns #restore-text {
    display: none;
}

#container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #191a1a;
    border: none;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #191a1a;
    border: none;
}

.airport {
    background-image: url('assets/circle.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mapboxgl-popup-content {
    border: 1px solid #363636;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(52, 52, 52, 0.9);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: rgba(52, 52, 52, 0.9) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(52, 52, 52, 0.9) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(52, 52, 52, 0.9) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: rgba(52, 52, 52, 0.9) !important;
}
.mapboxgl-popup-content h4 {
    font-family: Muli, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    font-weight: normal;
    width: 220px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.mapboxgl-popup-content h2 {
    font-family: Muli, sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
    font-weight: normal;
}