body {
    background-color: #191a1a;
}

*:focus {
    outline: none;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    height: 64px;
    padding: 0;
    margin: 0;
    z-index: 2;
    -webkit-app-region: drag;
}

#logo {
    margin: 19px 10px 15px 50px;
    display: block;
    float: right;
    font-size: 24px;
    cursor: default;
    -webkit-app-region: no-drag;
    font-family: Muli, sans-serif;
    text-transform: uppercase;
}

#searchbox {
    float: left;
    width: 250px;
    padding: 0 20px 17px 15px;
    margin: 23px 5px 0;
    -webkit-app-region: no-drag;
    -webkit-user-select: none; 
}

#searchbox div {
    padding: 10px 10px 5px 0;
    font-family: Muli, sans-serif;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    -webkit-user-select: none; 
}

#searchbox input {
    width: 100%;
}

::placeholder {
    color: #aaa;
}


#settings {
    display: block;
    float: right;
    padding: 0 10px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#settings img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#theme {
    display: block;
    float: right;
    padding: 0 5px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#theme img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#simconnect {
    display: block;
    float: right;
    padding: 0 5px 17px 5px;
    margin: 24px 5px 0;
    -webkit-app-region: no-drag;
}

#simconnect img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#utctime {
    position: absolute;
    top: 64px;
    right: 0;
    height: 20px;
    min-width: 50px;
    display: block;
    padding: 5px;
    font-family: Muli, sans-serif;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    z-index: 3;
    border-bottom-left-radius: 8px;
    -webkit-user-select: none;
    display: none;
}

#title-bar-btns {
    display: block;
    float: right;
    margin: 0;
    -webkit-app-region: no-drag;
}

#title-bar-btns button {
    height: 64px;
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    cursor: pointer;
}

#title-bar-btns button:hover {
    background-color: #969696;
}

#title-bar-btns #close-btn:hover {
    background-color: #E81123;
}

#title-bar-btns #restore-text {
    display: none;
}

#container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #191a1a;
    border: none;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #191a1a;
    border: none;
}

.airport {
    background-image: url('assets/circle.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}